<div class="container result-container">
  <div class="header">
    まよまよステップ
  </div>

  <svg style="display:block; width:100%; height:28px; margin-top:-1px;"
       viewBox="0 0 480 28" preserveAspectRatio="none"
       xmlns="http://www.w3.org/2000/svg">
      <path d="M0,0 C40,0 40,24 80,24 C120,24 120,4 160,4 C200,4 200,24 240,24
           C280,24 280,4 320,4 C360,4 360,24 400,24 C440,24 440,4 480,4 L480,0 Z"
        fill="#e76f51"/>
  </svg>

  <div class="mascot-area">
    <div class="mascot">
      <%= image_tag "mayomayo.png", class: "mascot-img" %>
    </div>
    <div class="mascot-bubble result-bubble">
      <p class="bubble-title">
        今日の一歩を見つけたよ!
      </p>
    </div>
  </div>

  <div class="result-card">
    <div class="result-header">
      <h2>🌱 あなたへの提案</h2>
    </div>
    
    <div class="proposal-content">
      <%= simple_format(@proposal) %>
    </div>

    <div class="action-buttons">
      <%= form_with url: generate_step_path, method: :post do %>
        <%= hidden_field_tag "step[goal]", @step.goal %>
        <%= hidden_field_tag "step[feeling]", @step.feeling %>
        <%= hidden_field_tag "step[time_available]", @step.time_available %>
        <%= hidden_field_tag "step[blocker]", @step.blocker %>

        <%= hidden_field_tag "is_retry", true %>
        <%= hidden_field_tag "previous_proposal", @proposal %>


        <%= submit_tag "もう一度提案する", class: "btn btn-primary" %>
     <% end %>
      
      <%= link_to '新しく相談する', root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
