<div class="container result-container">
  
  <div class="mascot-area">
    <div class="mascot">
      <%= image_tag "mayo-yatta.png", class: "mascot-img" %>
    </div>
    <div class="mascot-bubble result-bubble">
      <p class="bubble-title">
        <%= bubble_title(@step.feeling) %>
      </p>
    </div>
  </div>

  <div class="result-card">
    <div class="result-header">
      <h2>🌱 あなたへの提案</h2>
    </div>
    
    <div class="proposal-content">
      <%= simple_format(@proposal.suggestion) %>
    </div>
    

    <div class="primary-action">
      <button class='btn-try'>
         ✨やってみる
      </button>
    </div>

      <div class='secondary-actions'>
        <%= form_with url: generate_step_path, method: :post do %>
          <%= hidden_field_tag "step[goal]", @step.goal %>
          <%= hidden_field_tag "step[feeling]", @step.feeling %>
          <%= hidden_field_tag "step[time_available]", @step.time_available %>
          <%= hidden_field_tag "is_retry", true %>
          <%= hidden_field_tag "previous_proposal", @proposal.suggestion %>

          <%= submit_tag "再提案する", class: "btn btn-secondary" %>
       <% end %>
      </div>

       <p class='button-hint'> 別の提案を生成します</p>

    <div class='back-link'> 
      <%= link_to '入力画面に戻る', root_path %>
    </div>

  </div>
</div>
