<div class="container result-container">
  
  <div class="mascot-area">
    <div class="mascot">
      <%= image_tag "mayo-yatta.png", class: "mascot-img" %>
    </div>
    <div class="mascot-bubble result-bubble">
      <p class="bubble-title">
        <%= bubble_title(@step.feeling) %>
      </p>
    </div>
  </div>

  <div class="result-card">

    <div class="result-header">
      <h2>あなたへの提案</h2> 
     </div>

    <div class="proposal-content">
      <div class='empathy-section'>
        <p><%= @proposal.empathy %></p>
      </div>

      <div class='action-section'>
         <p><%= @proposal.action %></p>
      </div>

      <div class='reason-section'>
        <p><%= @proposal.reason %></p>
      </div>

    </div>
    
    <div class="cta-area">
      <div class="mayomayo-before-action">
        <%= image_tag "big-mayomayo.png", class: "mayo-big" %>
      </div>

      <div class="primary-action">
        <%= form_with url: proposals_path, method: :post do %>
          <%= hidden_field_tag "proposal[goal]", @proposal.goal %>
          <%= hidden_field_tag "proposal[feeling]", @proposal.feeling %>
          <%= hidden_field_tag "proposal[time_available]", @proposal.time_available %>
          <%= hidden_field_tag "proposal[suggestion]", @proposal.suggestion %>
          <%= hidden_field_tag "proposal[empathy]", @proposal.empathy %>
          <%= hidden_field_tag "proposal[reason]", @proposal.reason %>
          <%= hidden_field_tag "proposal[action]", @proposal.action %>

          <%= submit_tag "やってみたい", class: 'btn-try' %>
        <% end %>
      </div>
    </div>

      <div class='secondary-actions'>
        <%= form_with url: generate_step_path, method: :post do %>
          <%= hidden_field_tag "step[goal]", @step.goal %>
          <%= hidden_field_tag "step[feeling]", @step.feeling %>
          <%= hidden_field_tag "step[time_available]", @step.time_available %>
          <%= hidden_field_tag "is_retry", true %>
          <%= hidden_field_tag "previous_proposal", @proposal.suggestion %>

          <%= submit_tag "他の提案も見る", class: "btn btn-secondary" %>
       <% end %>
      </div>

       <p class='button-hint'> 今の気分に合う別案もあるかも</p>

    <div class='back-link'> 
      <%= link_to '入力画面に戻る', new_step_path %>
    </div>

  </div>
</div>
