<div class="container result-container">
  
  <div class="mascot-area">
    <div class="mascot">
      <%= image_tag "mayo-yatta.png", class: "mascot-img" %>
    </div>
    <div class="mascot-bubble result-bubble">
      <p class="bubble-title">
        <%= bubble_title(@step.feeling) %>
      </p>
    </div>
  </div>

  <div class="result-card">
    <div class="result-header">
      <h2>🌱 あなたへの提案</h2>
    </div>
    
    <div class="proposal-content">
      <%= simple_format(@proposal) %>
    </div>
    

    <div class="action-buttons">
      <%= form_with url: generate_step_path, method: :post do %>
        <%= hidden_field_tag "step[goal]", @step.goal %>
        <%= hidden_field_tag "step[feeling]", @step.feeling %>
        <%= hidden_field_tag "step[time_available]", @step.time_available %>
        <%= hidden_field_tag "is_retry", true %>
        <%= hidden_field_tag "previous_proposal", @proposal %>

        <%= submit_tag "もう一度提案する", class: "btn btn-secondary" %>
     <% end %>
      
      <%= link_to '新しく相談する', root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
