<!DOCTYPE html>
<html>
  <head>
    <title>まよまよステップ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
  </head>

  <body>
   <header class='header'>
      <%= link_to root_path do %>
        <%= image_tag "mayo-header.png", class:"logo-img" %>
      <% end %>

      <div class="user-menu">
        <% if user_signed_in? %>
          <%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-logout" %>
        <% else %>
          <%= link_to t('devise.shared.links.sign_in'), new_user_session_path, class: "btn-login" %>
          <%= link_to t('devise.shared.links.sign_up'), new_user_registration_path, class: "btn-signup" %>
        <% end %>
      </div>

    <%= link_to 'アカウント設定', edit_user_registration_path %>

   </header>

   <svg style="display:block; width:100%; height:28px; margin-top:-1px;"
     viewBox="0 0 480 28" preserveAspectRatio="none"
     xmlns="http://www.w3.org/2000/svg">
     <path d="M0,0 C40,0 40,24 80,24 C120,24 120,4 160,4 C200,4 200,24 240,24
      C280,24 280,4 320,4 C360,4 360,24 400,24 C440,24 440,4 480,4 L480,0 Z"
      fill="#e76f51"/>
   </svg>

   <% if flash.any? %>
     <div class="flash-messages">
       <% flash.each do |type, message| %>
         <div class="flash-message flash-<%= type %>">
           <%= message %>
         </div>
       <% end %>
     </div>
   <% end %>

   <%= yield %>
  </body>
</html>
